/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  padding: 0 2rem 0 3rem;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header nav a {
  text-decoration: none;
  padding: 1rem 0rem 1rem 3rem;
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
}
.intro {
  padding: 0 1rem;
  background-color: #f0f0f5;
}
.intro .div-one {
  padding: 2rem 0;
  border-bottom: 1px solid #8a8987;
}
.intro .div-one .working-pic {
  width: 35%;
  height: 35vh;
}
.intro .div-one h1 {
  font-size: 4rem;
}
.intro .div-one h5 {
  font-size: 2rem;
}
.intro .div-two {
  padding: 2rem 0;
}
.intro .div-two p {
  padding: 2rem 0;
}
.intro .div-two button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  background-color: gray;
}
.details {
  display: flex;
  justify-content: space-between;
}
.details .div-one {
  width: 50%;
}
.details .div-one h2 {
  font-size: 3rem;
}
.details .div-one p {
  padding: 1rem 2rem 1rem 0;
}
.details .div-two {
  width: 50%;
}
.details .div-two h3 {
  font-size: 2.5rem;
}
.details .div-two li {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 1px solid #f0f0f5;
}
.work-history h3 {
  font-size: 2.5rem;
}
.work-history table {
  width: 100%;
  border: 1px solid green;
}
